<!-- Formulario para crear usuario -->
<div *ngIf="showRegister" class="register-form">
  <h2 class="CreateAccount">{{ 'CREATE_ACCOUNT' | translate }}</h2>
  <input [(ngModel)]="newUser.firstName" type="text" placeholder="{{ 'FIRST_NAME' | translate }}" required>
  <input [(ngModel)]="newUser.lastName" type="text" placeholder="{{ 'LAST_NAME' | translate }}">
  <input [(ngModel)]="newUser.dob" type="date" placeholder="{{ 'DOB' | translate }}" required>
  <input [(ngModel)]="newUser.email" type="email" placeholder="{{ 'EMAIL' | translate }}" required>
  <input [(ngModel)]="newUser.username" type="text" placeholder="{{ 'USERNAME' | translate }}" required>
  <input [(ngModel)]="newUser.password" type="password" placeholder="{{ 'PASSWORD' | translate }}" required>
  <input [(ngModel)]="newUser.confirmPassword" type="password" placeholder="{{ 'CONFIRM_PASSWORD' | translate }}" required>
  <input [(ngModel)]="newUser.emailPrincipal" type="email" placeholder="{{ 'EMAIL_PRINCIPAL' | translate }}">
  <div class="button-group">
    <button (click)="registerUser()" [class.disabled]="buttonState.isDisabled || buttonState.isHoverDisabled">{{ 'REGISTER' | translate }}</button>
    <button (click)="cancelRegister()" [class.disabled]="buttonState.isDisabled || buttonState.isHoverDisabled">{{ 'CANCEL' | translate }}</button>
  </div>
</div>
<!-- Muestra mensajes de error o warning de alertas al crear el usuario-->
<div *ngIf="errorMessage" class="alert-container">
  <app-alert [type]="alertType" [message]="errorMessage"></app-alert>
</div>
