.button-container {
  margin-top: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px; /* Botones más redondeados */
  border: 1px solid #00897b; /* Borde del botón */
  color: #004d40; /* Color del texto del botón */
  transition: background-color 0.3s ease;
}

  button:hover {
    background-color: #00897b; /* Fondo más oscuro al pasar el ratón */
    color: #ffffff; /* Texto en blanco al pasar el ratón */
  }

/* Estilo general de la tabla */
.stock-table, .shopping-list-table {
  width: 100%; /* Ancho completo de la tabla */
  border-collapse: collapse;
  margin: 20px 0;
}
/* Ajustar la tabla para que ocupe un ancho mínimo adecuado */
.stock-table {
  min-width: fit-content;
}
  /* Añadir scroll horizontal */
  .stock-table-container {
    overflow-x: auto;
  }

  .stock-table th,
  .stock-table td,
  .shopping-list-table th,
  .shopping-list-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .stock-table th,
  .shopping-list-table th {
    background-color: #4CAF50; /* Verde para el fondo de la cabecera */
    color: white; /* Texto en blanco para la cabecera */
    font-weight: bold;
  }

  .stock-table td,
  .shopping-list-table td {
    background-color: #f5f5dc; /* Blanco marfil para las celdas */
  }

  .stock-table tr:nth-child(even) td,
  .shopping-list-table tr:nth-child(even) td {
    background-color: #f5f5dc; /* Blanco marfil también para las filas pares */
  }

  .stock-table tr:hover td,
  .shopping-list-table tr:hover td {
    background-color: #b2dfdb; /* Fondo más oscuro al pasar el ratón por encima */
  }
/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .language-selector {
    top: 25px; /* Ajusta según sea necesario */
    left: 200px;
    width: 20%; /* Ajusta el tamaño al 20% */
  }
}
.out-of-stock {
  color: red;
}
