<div *ngIf="showWelcome">
  <h1>Bienvenido</h1>
  <input [(ngModel)]="username" type="text" placeholder="Username" required>
  <input [(ngModel)]="password" type="password" placeholder="Password" required>
  <button (click)="login()">{{ 'LOGIN' | translate }}</button>
  <button (click)="showRegisterForm()">{{ 'CREATE_USER' | translate }}</button>
</div>

<!-- Formulario para crear usuario -->
<div *ngIf="showRegister" class="register-form">
  <h2 class="CreateAccount">{{ 'CREATE_ACCOUNT' | translate }}</h2>
  <input [(ngModel)]="newUser.firstName" type="text" placeholder="{{ 'FIRST_NAME' | translate }}" required>
  <input [(ngModel)]="newUser.lastName" type="text" placeholder="{{ 'LAST_NAME' | translate }}">
  <input [(ngModel)]="newUser.dob" type="date" placeholder="{{ 'DOB' | translate }}" required>
  <input [(ngModel)]="newUser.email" type="email" placeholder="{{ 'EMAIL' | translate }}" required>
  <input [(ngModel)]="newUser.username" type="text" placeholder="{{ 'USERNAME' | translate }}" required>
  <input [(ngModel)]="newUser.password" type="password" placeholder="{{ 'PASSWORD' | translate }}" required>
  <input [(ngModel)]="newUser.confirmPassword" type="password" placeholder="{{ 'CONFIRM_PASSWORD' | translate }}" required>
  <input [(ngModel)]="newUser.emailPrincipal" type="email" placeholder="{{ 'EMAIL_PRINCIPAL' | translate }}">
  <div class="button-group">
    <button (click)="registerUser()">{{ 'REGISTER' | translate }}</button>
    <button (click)="cancelRegister()">{{ 'CANCEL' | translate }}</button>
  </div>
</div>

<div *ngIf="errorMessage" class="alert-container">
  <app-alert [type]="alertType" [message]="errorMessage"></app-alert>
</div>

<!-- Tu formulario de inicio de sesión aquí -->


<!-- Spinner de carga -->
<div *ngIf="loading" class="loading-container">
  <div class="spinner">
    <img src="assets/doge.jpg" alt="Doge" class="doge-icon">
  </div>
  <p>{{ 'LOADING' | translate }}</p>
</div>


<div class="language-selector">
  <img src="assets/es.jpg" alt="Español" (click)="changeLanguage('es')" [class.selected]="selectedLanguage === 'es'">
  <img src="assets/cat.jpg" alt="Català" (click)="changeLanguage('cat')" [class.selected]="selectedLanguage === 'cat'">
  <img src="assets/uk.jpg" alt="English" (click)="changeLanguage('en')" [class.selected]="selectedLanguage === 'en'">
</div>
