<h2>{{ 'APP_TITLE' | translate }}</h2>

<div class="button-container">
  <button (click)="consultarBaseDatos()">{{ 'CONSULTAR' | translate }}</button>
  <button (click)="comprobarArticulos()">{{ 'GESTION_ARTICULOS' | translate }}</button>
  <button (click)="comprobarArticulosTiquet()">{{ 'GESTION_ARTICULOS_TIQUET' | translate }}</button>
  <button (click)="listaCompra()">{{ 'LISTA_COMPRA' | translate }}</button>
  <button (click)="cerrarSesion()">{{ 'CERRAR_SESION' | translate }}</button>
  <app-alert></app-alert>

</div>

<!-- Spinner de carga -->
<div *ngIf="loading" class="loading-container">
  <div class="spinner">
    <img src="assets/doge.jpg" alt="Doge" class="doge-icon">
  </div>
  <p>{{ 'LOADING' | translate }}</p>
</div>
