.button-container {
  margin-top: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px; /* Botones más redondeados */
  border: 1px solid #00897b; /* Borde del botón */
  color: #004d40; /* Color del texto del botón */
  transition: background-color 0.3s ease;
  font-size: 16px;
}
  button:hover {
    background-color: #00897b; /* Fondo más oscuro al pasar el ratón */
    color: #ffffff; /* Texto en blanco al pasar el ratón */
  }

/* Estilos para el spinner */
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegúrate de que el spinner esté encima de otros elementos */
}

.spinner {
  text-align: center;
}
/* Animación del spinner */
@keyframes spin {
  0% {    transform: rotate(0deg);  }
  100% {    transform: rotate(360deg); }
}
/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .language-selector {
    top: 25px; /* Ajusta según sea necesario */
    left: 200px;
    width: 20%; /* Ajusta el tamaño al 20% */
  }
}