.alert {
  padding: 15px;
  margin-left: 30px;
  border-radius: 10px;
  width: 200px;
  height: auto; /* Ajustar altura automáticamente según el contenido */
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  transition: opacity 0.5s ease-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Opcional: Agregar sombra para profundidad */

}

  .alert.success {
    background-color: #4caf50; /* Verde */
  }

  .alert.error {
    background-color: #f44336; /* Rojo */
  }

  .alert.info {
    background-color: #2196f3; /* Azul */
  }

  .alert.confirm {
    background-color: #3ef5f2; /* Celeste */
  }

  .alert.warning {
    background-color: #ff9800; /* Naranja */
  }

  .alert.info_email {
    background-color: #9ffab1; /* Verde claro */
    width: fit-content;
    height: auto;
    margin-top: -65px;
    padding: 1px;
    margin-left: 5px;
    /*margin-top: 10px;  Ajusta para evitar solapamiento */
    /*padding: 10px 20px;  Espacio alrededor del texto */
    /*max-width: 480px;  Ancho máximo si es necesario */
    /*border-radius: 10px;  Redondear las esquinas */
    /*display: inline-block;  Asegura que el contenedor ocupe solo el espacio necesario */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0); /* Opcional: Agregar sombra para profundidad */
    font-weight: normal;
  }

  .alert-actions {
  margin-top: 160px;
}

  .alert-actions button {
    margin: 0 5px;
  }
