<h2>{{ 'SCAN_TIQUET' | translate }}</h2>

<!-- Contenedor para los botones de carga y captura -->
<div class="button-container">
  <button (click)="selectFileMethod()">{{ 'UPLOAD_TICKET' | translate }}</button>
  <button (click)="captureImageMethod()">{{ 'CAPTURE_TICKET' | translate }}</button>
</div>

<!-- Selección de archivo para cargar el tiquet -->
<div *ngIf="isFileUpload">
  <!-- Botón personalizado para seleccionar archivo -->
  <label for="file-upload" class="custom-file-upload">
    {{ 'SELECT_FILE' | translate }}
  </label>
  <input id="file-upload" type="file" (change)="onFileSelected($event)" accept="image/*" class="file-input" />
  <!-- Nombre del archivo seleccionado -->
  <span class="file-name">{{ selectedFileName || ('NO_FILE_SELECTED' | translate) }}</span>
</div>

<!-- Captura de imagen con la cámara -->
<div *ngIf="isCameraCapture">
  <input type="file" accept="image/*" (change)="onCameraImageSelected($event)" capture="environment" class="file-input">
</div>

<!-- Vista previa del tiquet -->
<div *ngIf="ticketImage">
  <h3>{{ 'TICKET_PREVIEW' | translate }}</h3>
  <img [src]="ticketImage" alt="{{ 'TICKET_PREVIEW_ALT' | translate }}" class="ticket-preview">
</div>
<div class="action-container">
  <!-- Botón para procesar el tiquet -->
  <button (click)="processTicket()" class="action-button">{{ 'PROCESS_TICKET' | translate }}</button>
  <!-- Spinner de carga -->
  <div *ngIf="isLoading" class="spinner-container">
    <div class="spinner"></div>
    <p class="loading-message">{{ 'UPLOADING_ITEMS' | translate }}</p>
  </div>
</div>



<!-- Componente de alerta -->
<app-alert></app-alert>

<!-- Resultado del OCR -->
<div *ngIf="ocrResult">
  <h3>{{ 'OCR_RESULT' | translate }}</h3>
  <pre>{{ ocrResult }}</pre>
</div>

<!-- Artículos detectados -->
<div *ngIf="items && items.length > 0">
  <h3>{{ 'DETECTED_ITEMS' | translate }}</h3>
  <ul>
    <li *ngFor="let item of items">
      {{ item.quantity }} x {{ item.description }} - {{ item.price | currency }}
    </li>
  </ul>
</div>


<!-- Mensaje de éxito -->
<div *ngIf="!isLoading && successMessage">
  <p>{{ successMessage }}</p>
</div>

<!-- Botón de volver -->
<button (click)="volverAlMain()" class="action-button">{{ 'GO_BACK' | translate }}</button>
