<h2>{{ 'SHOPPING_LIST' | translate }}</h2>

<!-- Componente de alerta -->
<app-alert></app-alert>

<!-- Tabla para mostrar los artículos con stock bajo -->
<div class="stock-table-container">
  <table class="stock-table">
    <thead>
      <tr>
        <!--  <th>{{ 'ARTICLE_ID' | translate }}</th> -->
        <th>{{ 'DESCRIPTION' | translate }}</th>
        <th>{{ 'ESTABLISHMENT' | translate }}</th>
        <th>{{ 'PRICE' | translate }}</th>
        <th>{{ 'STOCK' | translate }}</th>
        <!-- <th>{{ 'CREATION_DATE' | translate }}</th> -->
        <th>{{ 'MODIFICATION_DATE' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos$ | async" [ngClass]="{'out-of-stock': producto.cantidadStock === 0}">
        <!-- <td>{{ producto.id }}</td> -->
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.establecimiento }}</td>
        <td>{{ producto.precio | currency }}</td>
        <td>{{ producto.cantidadStock }}</td>
        <!--  <td>{{ producto.fechaCreacion | date: 'short' }}</td> -->
        <td>{{ producto.fechaUltimaCompra | date: 'short' }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="button-container">
  <button (click)="volver()">{{ 'RETURN' | translate }}</button>
</div>
