.button-container {
  margin-top: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px; /* Botones más redondeados */
  border: 1px solid #00897b; /* Borde del botón */
  color: #004d40; /* Color del texto del botón */
  transition: background-color 0.3s ease;
}
  button:hover {
    background-color: #00897b; /* Fondo más oscuro al pasar el ratón */
    color: #ffffff; /* Texto en blanco al pasar el ratón */
  }

/* Estilo general de la tabla */
.stock-table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #e0f7fa; /* Fondo azul celeste para la tabla */
  min-width: fit-content;
}

  .stock-table th,
  .stock-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  /* Añadir scroll horizontal */
.stock-table-container {
  overflow-x: auto;
}
  .stock-table th {
    background-color: #4CAF50; /* Verde para el fondo de la cabecera */
    color: white; /* Texto en blanco para la cabecera */
    font-weight: bold;
  }

  .stock-table td {
    background-color: #f5f5dc; /* Blanco marfil para las celdas */
  }

  .stock-table tr:nth-child(even) {
    background-color: #f5f5dc; /* Blanco marfil para filas pares */
  }

  .stock-table tr:hover {
    background-color: #b2dfdb; /* Fondo más oscuro al pasar el ratón por encima */
  }
  /* Media query para dispositivos móviles */
  @media (max-width: 768px) {
    .language-selector {
      top: 25px; /* Ajusta según sea necesario */
      left: 200px;
      width: 20%; /* Ajusta el tamaño al 20% */
    }
  
      .language-selector img {
        width: 6%; /* Ajusta el tamaño para móviles */
      }
  }
/* Clase para destacar artículos con stock 0 */
.out-of-stock {
  color: red;
  font-weight: bold;
}
