
/* styles.css o app.component.css */
body {
  background-color: #e0f7fa; /* Azul celeste suave */
  margin: 0;
  padding: 0;
}
/* styles.css o app.component.css */
.app-container {
  background-color: #e0f7fa; /* Azul celeste suave */
  min-height: 100vh;
  overflow: auto; /* Asegura que el contenido desbordado pueda desplazarse */
}
