.button-container {
  margin-top: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px; /* Botones más redondeados */
  border: 1px solid #00897b; /* Borde del botón */
  color: #004d40; /* Color del texto del botón */
  transition: background-color 0.3s ease;
  font-size: 16px;
}

  button:hover {
    background-color: #00897b; /* Fondo más oscuro al pasar el ratón */
    color: #ffffff; /* Texto en blanco al pasar el ratón */
  }

.language-selector {
  position: absolute;
  top: 10px; /* Ajusta según sea necesario */
  right: 10px; /* Ajusta según sea necesario */
  display: flex;
  gap: 10px; /* Espacio entre las banderas */
}

.language-selector img {
  width: 5%; /* Ajusta el tamaño al 20% */
  height: auto;
  cursor: pointer;
  opacity: 0.5;
  transition: transform 0.3s ease;
}
.language-selector img.selected {
  opacity: 1;
  transform: scale(1.1);
  border: 1px solid #007bff;
  border-radius: 50%;
}
.language-selector img:hover {
  transform: scale(1.1); /* Pequeño aumento al pasar el ratón por encima */
}
/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .language-selector {
    /*position: absolute;*/
    top: 10px; /* Ajusta según sea necesario */
    left: 250px;
    width: 100%; /* Ajusta el tamaño al 20% */
  }

    .language-selector img {
      width: 6%; /* Ajusta el tamaño para móviles */
    }
}
