<!-- Contenido cuando se tiene permiso para usar la cámara -->
<div *ngIf="hasPermission">
  <h2>{{ 'ITEM_MANAGEMENT' | translate }}</h2>

  <!-- Contenedor para la vista de la cámara -->
  <div class="camera-container">
    <zxing-scanner [device]="selectedDevice"
                   (camerasFound)="onCamerasFound($event)"
                   (scanSuccess)="onCodeResult($event)"
                   [formats]="formats"
                   class="camera-view">
    </zxing-scanner>
  </div>

  <!-- Mostrar el resultado del código QR o de barras y la acción si se ha escaneado un código -->
  <div *ngIf="scannedResult && !action">
    <p>{{ 'SCANNED_CODE' | translate }} {{ scannedResult }}</p>
    <p>{{ 'PRODUCT_QUESTION' | translate }}</p>
    <button (click)="startVoiceRecognition()">{{ 'START_VOICE_RECOG' | translate }}</button>
  </div>
  <video #videoElement autoplay></video>

  <button (click)="volver()" class="back-button">{{ 'RETURN' | translate }}</button>
</div>
