.button-container {
  margin-top: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px; /* Botones más redondeados */
  border: 1px solid #00897b; /* Borde del botón */
  color: #004d40; /* Color del texto del botón */
  transition: background-color 0.3s ease;
  font-size: 16px;
}

  button:hover {
    background-color: #00897b; /* Fondo más oscuro al pasar el ratón */
    color: #ffffff; /* Texto en blanco al pasar el ratón */
  }

  /* Media query para dispositivos móviles */
  @media (max-width: 768px) {
    .language-selector {
      top: 25px; /* Ajusta según sea necesario */
      left: 200px;
      width: 20%; /* Ajusta el tamaño al 20% */
    }
  
      .language-selector img {
        width: 6%; /* Ajusta el tamaño para móviles */
      }
  }

/* Asegúrate de que el contenedor de la cámara ocupe solo la mitad superior */
.camera-container {
  position: relative;
  width: 100%;
  height: 50vh; /* Ocupa la mitad superior de la vista */
  overflow: hidden;
}

.camera-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Estilos para el botón de volver */
.back-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px;
}